:root {

    /* colors */
    --very-dk-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dk-gray-magenta: hsl(303, 10%, 53%);
    --lt-gray-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* font size */
    --fs-400: 0.938rem;

    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    background-color: teal;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    font-family: 'League Spartan', sans-serif;
}